@import 'base';
@import 'theme';
@import './layout/b-grid';

* {
  box-sizing: border-box;
}

.header {
  color: $primary;
}

.input-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-box {
  border: 1px solid $light-dark;
  border-radius: 3px;
  padding: 16px;
}

.selected_value {
  text-align: center;
  border: 1px solid $light-dark;
  border-radius: 5px;
  padding: 16px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  background-color: $cyan;
  padding: 0 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  .bottom-border-mobile {
    @media (max-width: 768px) {
      border-bottom: 1px solid gray;
    }
  }

  .bottom-border-desktop {
    @media (min-width: 768px) {
      border-bottom: 1px solid gray;
    }
  }
  

  .row {
    margin-top: 16px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    @media (max-width: 768px) {
      text-align: right;
    }
    @media (min-width: 768px) {
      text-align: left;
      display: block;
      .col {
        padding-top: 10px;
        span {
          font-size: 20px;
        }
      }
    }
  }
}

span {
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.slider-position {
  margin-top: 16px;
}

.text-strong {
  font-weight: bold;
}

.text-muted {
  color: $light-dark;
}

.result-header {
  padding-top: 18px;
  display: block;
  font-size: 24px;
  color: $dark;
}

.text-right {
  text-align: right;
}

.text-error {
  color: $danger;
}